@import "tailwindcss";

:root {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #020617; /* slate-950 */
  color: #f8fafc; /* slate-50 */
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    'Apple Color Emoji', 'Segoe UI Emoji';
}
